{% extends "./../base.html" %}
{% load static %}
{% load my_tags %}

{% block title %}{% call_get_text "Ilmiy faoliyat" language True%}{% endblock %}

{% block body %}
{% include "./../header.html" %}
<section class="section section-xl bg-catskill">
    <div class="container" style="text-align: left; font-size: 16px; color: black;">
        <h2 class="fw-bold">{% call_get_text "Ilmiy faoliyat" language True%}</h2>
        {{ text|safe }}

    </div>
</section>


{% include "./../footer.html" %}


<script src="{% static 'js/core.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}