{% extends "./base.html" %}
{% load static %}
{% load my_tags %}

{% block title %}{% call_get_text "Tuzilma" language True%}{% endblock %}

{% block body %}

{% include "./header.html" %}
<section class="section section-xl bg-catskill">
    <div class="container">
        <div class="row row-85 justify-content-sm-center">
            
            <div class="col-lg-8 row-30">
                <h2>{% call_get_text "Markazlar" language True%}</h2>
                <hr class="divider bg-madison">
            </div>
            <div class="mb-3">
                <div class="group group-xl">
                    <a class="btn btn-icon btn-icon-right button-default w-100" href="/{{language}}/tuzilma/arm">
                        <span class="icon fa fa-arrow-right"></span>
                        <span>{% call_get_text "Axborot resurs markazi" language True%}</span>
                    </a>
                </div>
            </div>

            <h2>{% call_get_text "Bo'limlar" language True%}</h2>
            <hr class="divider bg-madison">
            <div class="mb-3">
                <div class="group group-xl">
                    <a class="btn btn-icon btn-icon-right button-default w-100" href="/{{language}}/tuzilma/rtt">
                        <span class="icon fa fa-arrow-right"></span>
                        <span>{% call_get_text "Raqamli ta'lim texnologiyalar bo'limi" language True%}</span>
                    </a>
                </div>
            </div>

            <div class="mb-3">
                <div class="group group-xl">
                    <a class="btn btn-icon btn-icon-right button-default w-100" href="/{{language}}/tuzilma/oub">
                        <span class="icon fa fa-arrow-right"></span>
                        <span>{% call_get_text "O'quv-uslubiy boshqarma" language True%}</span>
                    </a>
                </div>
            </div>
            
            </div>
            
        </div>
    </div>
</section>


{% include "./footer.html" %}

<!-- Java script-->
<script src="{% static 'js/core.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}